@model MyStore.Models.Category

@{
    ViewBag.Title = "CHI TIẾT DANH MỤC";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white">
            Thông tin danh mục
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Tên danh mục</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.CategoryName)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        @Html.ActionLink("Sửa", "Edit", new { id = Model.CategoryID }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Quay về danh sách", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
