@model MyStore.Models.ViewModel.BookSearchVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <style>
        .search-container, .order-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding-top: 20px;
            justify-content: center;
        }
    </style>
</head>
<h2 class="bg-success">📚 DANH SÁCH SẢN PHẨM</h2>

@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <div class="search-container">

        <div style="width:250px; margin-right:10px;">
            @Html.TextBoxFor(m => m.Keyword, new
            {
                @class = "form-control",
                placeholder = "Nhập tên sách..."
            })
        </div>

        <div style="width:150px; margin-right:10px;">
            @Html.TextBoxFor(m => m.MinPrice, new
            {
                @class = "form-control",
                placeholder = "Giá thấp nhất"
            })
        </div>

        <div style="width:150px; margin-right:10px;">
            @Html.TextBoxFor(m => m.MaxPrice, new
            {
                @class = "form-control",
                placeholder = "Giá cao nhất"
            })
        </div>

        <button type="submit" class="btn btn-primary">
            Tìm Kiếm
        </button>
    </div>
    <select name="sortOrder" class="form-control">
        <option value="">-- Mặc định --</option>
        <option value="price_asc">Giá tăng dần</option>
        <option value="price_desc">Giá giảm dần</option>
        <option value="title_asc">Tên A-Z</option>
        <option value="title_desc">Tên Z-A</option>
    </select>
}

@Html.Partial("PVListBook", Model)
